html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.str-chat-channel-list {
  height: 100%;
}

.str-chat-channel {
  height: 100%;
}

.str-chat__message-simple:focus-within .str-chat__message-simple__actions__action--thread {
  display: flex;
}

.str-chat__message-simple:focus-within .str-chat__message-simple__actions__action--reactions {
  display: flex;
}

.str-chat__message-simple:focus-within .str-chat__message-simple__actions__action--options {
  display: flex;
}

button {
	background: none;
	border: none;
}
