html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.str-chat-channel-list {
  height: 100%;
}

.str-chat-channel {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.str-chat__message-simple:focus-within .str-chat__message-simple__actions__action--thread {
  display: flex;
}

.str-chat__message-simple:focus-within .str-chat__message-simple__actions__action--reactions {
  display: flex;
}

.str-chat__message-simple:focus-within .str-chat__message-simple__actions__action--options {
  display: flex;
}

button {
  cursor: pointer;
  /* background: none; */
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  /* display: inline-flex; */
  align-items: center;
  /* justify-content: center; */
  outline-offset: 2px;
  /* font-size: 1rem;
  text-align: center; */
  /* font-family: inherit; */
  /* font-family: system-ui, sans-serif; */
}

.rfu-file-upload-button:focus-within {
  outline: 5px auto -webkit-focus-ring-color;
}

.str-chat__exit {
  display: flex;
  width: 86px;
  justify-content: space-between;
}

.str-chat__load-more-button__button {
  display: flex;
  justify-content: center;
}

.str-chat__edit-message-form {
  position: relative;
}
